
/* .middle {
  height: 500px;
  width: 100%;
  color: black;
} */

.separate-div {
  width: 100%;
  height: 68px;
  /* background-color: black; */
}

.separate-div::before {
  content: "";
  display: block;
  margin-top: 60px;
}

.product-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  width: 100%;
}

.aside-pic {
  display: inline-block;
  background-color: grey;
  height: 400px;
  width: 28%;
  margin-left: 24px;
}

.aside-pic img {
  width: 100%
}

.main-product {
  display: inline-block;
  height: 400px;
  width: 60%;
  background-color: grey;
}

.separate-div2 {
  width: 100%;
  height: 88px;
  /* background-color: black; */
}

.prod-title {
  margin: 12px 24px;
}

.prod-brand {
  text-align: left;
  margin: 12px 24px;
  padding: 0;
}

.prod-price {
  margin: 24px 24px;
  padding: 0;
}

.prod-desc {
  margin: 18px 24px;
  padding: 0;
  margin-bottom: 24px;
  /* possible overflow */
}

.prod-box {
  margin-left: 12px;
}

.prod-preview {
  display: inline-block;
  width: 500px;
  height: 160px;
  background-color: white;
}
.preview-img {
  display: inline-block;
  cursor: pointer;
  height: 90px;
  width: 70px;
  margin: 0 10px;
}

/*can't give margin-top to button without
affecting preview pics*/
.button-div {
  height: 90px;
  display: inline-block;
  /* margin-top: 12px; */
  margin-left: 48px;
  /* padding-top: 12px; */

  /* margin-bottom: 12px; */
}


.button-div button {
  display: inline-block;
  cursor: pointer;
  /* padding: 8px 12px; */
  /* margin-top: 12px; */
}
