
/* .middle {
  height: 500px;
  width: 100%;
  color: black;
} */

.separate-div {
  width: 100%;
  height: 68px;
  /* background-color: black; */
}

.separate-div::before {
  content: "";
  display: block;
  margin-top: 60px;
}

.product-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  width: 100%;
}

.aside-pic {
  display: inline-block;
  height: 400px;
  width: 28%;
  margin-left: 24px;
}

.aside-pic img {
  width: 100%
}

.main-product {
  display: inline-block;
  background-color: lightblue;
  height: 400px;
  width: 60%;

}

.separate-div2 {
  width: 100%;
  height: 88px;
  /* background-color: black; */
}

.prod-title {
  margin: 12px 24px;
}

.prod-brand {
  text-align: left;
  margin: 12px 24px;
  padding: 0;
}

.prod-price {
  margin: 24px 24px;
  padding: 0;
}

.prod-desc {
  margin: 18px 24px;
  padding: 0;
  margin-bottom: 24px;
  /* possible overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-box {
  margin-left: 12px;
}

.prod-preview {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 160px;
  background-color: white;
}
.preview-img {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  /* height: 90px; */
  width: 18%;
  margin: 3% 4px;
}

.preview-img:hover {
  border: 2px solid lightblue;
}

/*can't give margin-top to button without
affecting preview pics*/
.button-div {
  height: 90px;
  display: inline-block;
  vertical-align: top;
  /* margin-top: 12px; */
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 12px; */

  /* margin-bottom: 12px; */
}


.button-div button {
  /* display: inline-block; */
  cursor: pointer;
  /* padding: 8px 12px; */
  /* margin-top: 12px; */
}

/*RESPONSIVE*/

@media (max-width: 1015px){
/* button-div */
.button-div {
  height: 90px;
  display: block;
  margin-top: 30px;
  }
}

@media (max-width: 859px) {
/* el title */
  .prod-title {
    font-size: 28px;
  }

  /* el div las preview-img */
  .prod-preview {
    width: 400px;
    height: 120px;
  }

  .preview-img {
    /* height: 90px; */
    width: 18%;
    margin-top: 3%;
  }
}

@media (max-width: 690px) {
/* el title */
  .prod-title {
    font-size: 22px;
  }

  /* el div las preview-img */
  .prod-preview {
    width: 280px;
    height: 84px;
  }

  .preview-img {
    /* height: 90px; */
    width: 18%;
    margin-top: 3%;
  }
}

@media (max-width: 490px) {
/* el title */
  .prod-title {
    font-size: 22px;
  }

  /* el div las preview-img */
  .prod-preview {
    width: 196px;
    height: 58px;
  }

  .preview-img {
    /* height: 90px; */
    width: 18%;
    margin-top: 3%;
  }
}
